

.container {
    margin-top: 80px;
    /* border: 2px solid gray; */
    width: 700px;
    margin-left: 500px;
    margin-top: 300px;
    /* text-decoration: underline; */
}

.container a {
    text-decoration: none;
    border: 1px solid black;
    margin-right: 80px;
    padding: 10px;
    background-color: rgb(36, 88, 231);
    color: whitesmoke;
}

.container a:hover {
    background-color: rgb(39, 38, 38);
    color: whitesmoke;
}